body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.loginInput::placeholder {
   color: rgba(255,255,255,0.7);
}

.loginInput:focus {
  outline: none;
}


::-webkit-scrollbar {
  width: 5px;
  }
::-webkit-scrollbar-track {
-webkit-border-radius: 10px;
border-radius: 10px;
margin:0px 0 5px 0;
}
::-webkit-scrollbar-thumb {
-webkit-border-radius: 4px;
border-radius: 4px;
background: rgb(219,219,219);
}